<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Rooster!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="slack-app-id" content="A45A33TMX">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        RoosterBox
      </h1>
    </header>

    <main>
      <form ref="uploadForm" id="uploadForm" action="https://rooster.glitch.me/upload-file" method="post" enctype="multipart/form-data">
        <input type="file" name="uploadFile" />
        <input type="text" placeholder="team ID" name="teamID" />
        <input type="text" placeholder="channel ID" name="channelID" />
        <input type="text" placeholder="userID" name="userID" />
        <input type="text" placeholder="fileType" name="fileType" />
        <input type="text" placeholder="preview?" name="isPreview" />
        <input type="submit" value="Upload File" />
      </form>  
      <br>
      <form ref="removeForm" id="removeForm" action="https://rooster.glitch.me/remove-file" method="post" enctype="multipart/form-data">
        <input type="text" placeholder="team ID" name="teamID" />
        <input type="text" placeholder="file ID" name="fileID" />
        <input type="submit" value="Remove File" />
      </form> 
      <br>
      <form ref="updateForm" id="updateForm" action="https://rooster.glitch.me/update-file" method="post" enctype="multipart/form-data">
        <input type="text" placeholder="team ID" name="teamID" />
        <input type="text" placeholder="file ID" name="fileID" />
        <input type="text" placeholder="external ID" name="fileExternalID" />
        <input type="text" placeholder="external URL" name="fileExternalURL" />
     <!--   <input type="file" placeholder="preview" name="filePreview" /> -->
        <input type="text" placeholder="title" name="fileTitle" />
        <input type="submit" value="Update File" />
      </form> 
      
      
    </main>

    <footer>
    </footer>

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
