<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Rooster!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="slack-app-id" content="A45A33TMX">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Rooster
      </h1>
    </header>

    <main>
      <form ref="uploadForm" id="uploadForm" action="https://rooster.glitch.me/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="uploadFile" />
        <input type="text" name="teamID" />
        <input type="submit" value="Upload!" />
    </form>    
      
      
    </main>

    <footer>
    </footer>

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
