<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Rooster!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="slack-app-id" content="A45A33TMX">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Rooster
      </h1>
    </header>

    <main>
      <p class="bold">Slack app by Steve Hammond</p>
      <br/>
<!--       <p>WTA:</p><a href="https://slack.com/oauth/authorize?client_id=38659846675.206300020755&scope=chat:write,channels:history,emoji:read,channels:read,channels:write,usergroups:write,links:read,links:write,commands,groups:write,files:read,reactions:read,remote_files:write,remote_files:read,remote_files:share,links:write,remote_files:write:user,remote_files:share:user"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a> -->
      <p>WTA:</p><a href="https://slack.com/oauth/authorize?client_id=38659846675.206300020755&scope=chat:write,channels:history,emoji:read,channels:read,channels:write,usergroups:write,links:read,links:write,commands,groups:write,groups:read,files:read,reactions:read,links:write"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
      <br>
      <p>UTA:</p>
      <a href="https://slack.com/oauth/authorize?scope=channels:read,groups:read,chat:write:bot,chat:write:user,bot,incoming-webhook,links:read,commands,channels:history,users:read,im:history,users:read.email,channels:write,files:read,reactions:read,stars:read,mpim:read&client_id=38659846675.141343129745"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x">
      </a>
      <p>Send a random card to a channel on Rooster Inc:</p>
      <form>
        <input id="channelForm" type="text" maxlength="100" placeholder="Enter a public channel">
        <button type="submit">Send</button>
      </form>
      <section class="dreams">
        <ul id="dreams">
        </ul>
      </section>
      
      
    </main>

    <footer>
    </footer>

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
